#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/stylesheet/' do
  # don't filter or layout
end

compile '/rose/' do
  # don't filter or layout
end

compile '/rose-script/' do
  # don't filter or layout
end

compile '/images/*/' do
  # don't filter or layout
end

compile '/cv/' do
  # don't filter or layout
end

compile '*' do
  filter :erb
  layout 'home-layout'
end

route '/stylesheet/' do
  '/static/main.css'
end

route '/rose/' do
  '/static/rose.css'
end

route '/rose-script/' do
  '/static/rose.js'
end

route '/images/favicon/' do
  '/favicon.ico'
end

route '/images/*/' do
  # /images/some_image/ -> /static/some_image.jpg or /static/some_image.png or so
  '/static/' + item.identifier.split('/').last + '.' + item[:extension]
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
