<script type="text/javascript">
    var disqus_developer = 1;
</script>

<h1 class="posttitle">$title$</h1>

<span class="posttime">posted on $date$</span>

$body$

<div id="disqus_thread"></div>

<script type="text/javascript">
var disqus_identifier = '$url$';
var disqus_url = 'http://iveselov.info' + '$url$';
var disqus_title = '$title$';

(function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://iveselov.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

<noscript>
Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>


